body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #ac2ef5;
    text-align: center;
    padding: 15px;
}

header h1, header p {
    color: white;
}

nav a {
    background-color: #a523f0;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
}

main {
    max-width: 900px;
    margin: 20px auto;
}


h2, h3, h4 {
    color: #ba54f5;
    text-align: center;
}


.bem-vindo, .sobre {
    background-color: #e1d3f7;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.servico1, .servico2, .servico3, .servico4 {
    background-color: #7b2ef877;
    padding: 15px;
    margin-bottom: 10px;
}

.equipe, .projetos, .contato {
    border: 2px solid #e1d3f7;
    padding: 15px;
    margin-bottom: 20px;
}


.ana, .carlos, .mariana {
    background-color: #e1d3f7;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.vendas, .app, .site {
    background-color: #e1d3f7;
    padding: 15px;
    margin-bottom: 10px;
}

img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.orcamento {
    background-color: #ba54f5;
    color: white;
    border: none;
    
}

footer {
    background-color: #ac2ef5;
    color: white;
    text-align: center;
    padding: 15px;
}