/* Configurações Gerais */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e3a5f;
    color: white;
    text-align: center;
    padding: 30px;

}

header h1 {
    font-weight: bold;
    font-size: 42px;
}

/* nav {

} */

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

main {
    margin: 30px;

}

section {
    border: 30px solid #1e3a5f;
    border-width: 30px;
    border-color: #1e3a5f;
    padding: 20px;
}

.servicos {
   
}
